@charset "UTF-8";

/* 블럭 요소의 width는 기본이 화면의 100, height는 컨텐츠 크기만큼. 높이는 padding으로 정하기*/


section {
	padding : 10px;
	min-height : 66%;
	background-color: gainsboro;
	box-sizing : border-box;
	/* 컨텐츠 내용만큼 높이만 지정되는 것을 
 		최소 높이 지정하여 바꾸기 */
}
	
section table {
	border-collapse: collapse;
	margin: auto;
	}
	
section h3 {
	text-align: center;
}

section th {
	width: 180px;
}

section th:nth-child(3) {
	width: 250px;
	}
	
section td:nth-child(4) {
	width: 300px;
	}
	
section th:nth-child(5) {
	width: 250px;
	}
	
section th, td{
	border: 1px solid black;
	padding: 10px 10px;
	text-align: center;
}

section th {
	font-weight: bold;
}
	

